<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lube.user.dao.IUserDao">

    <resultMap type="user" id="operatorMap">
        <id property="operatorId" column="OPERATOR_ID"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="operatorName" column="OPERATOR_NAME"/>
        <result property="operatorType" column="OPERATOR_TYPE"/>
    </resultMap>

    <!-- 查询，根据id -->
    <select id="verifyLogin" parameterType="String" resultType="user" resultMap="operatorMap">
        SELECT OPERATOR_ID, USERNAME, OPERATOR_NAME, OPERATOR_TYPE
        FROM T_OPERATOR
        <where>
            <if test=" username != null and username != ''">
                and USERNAME = #{username}
            </if>
            <if test=" password != null and password != ''">
                and PASSWORD = #{password}
            </if>
        </where>
    </select>

    <select id="queryAllUser" parameterType="java.util.Map" resultType="user" resultMap="operatorMap">
        SELECT OPERATOR_ID, USERNAME, PASSWORD, OPERATOR_NAME, OPERATOR_TYPE
          FROM T_OPERATOR
        <where>
            <if test=" username != null and username != ''">
                and USERNAME like '%' #{username} '%'
            </if>
            <if test=" operatorName != null and operatorName != ''">
                and OPERATOR_NAME like '%' #{operatorName} '%'
            </if>
        </where>
        <if test=" pagesize != null and pagesize != ''">
            limit #{page},#{pagesize}
        </if>

    </select>
    <select id="queryAllUserCount" parameterType="java.util.Map" resultType="Integer">
        SELECT count(1) FROM T_OPERATOR
        <where>
            <if test=" username != null and username != ''">
                and USERNAME like '%' #{username} '%'
            </if>
            <if test=" operatorName != null and operatorName != ''">
                and OPERATOR_NAME like '%' #{operatorName} '%'
            </if>
        </where>
    </select>

    <insert id="addUser" parameterType="user">
        INSERT INTO
          t_operator(OPERATOR_ID, USERNAME, PASSWORD, OPERATOR_NAME, OPERATOR_TYPE)
        VALUES
          (#{operatorId},#{username},#{password},#{operatorName},#{operatorType})
    </insert>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM t_operator WHERE OPERATOR_ID in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <!--用户所获得权限对应的菜单-->
    <select id="queryUserChildMenu" parameterType="java.util.Map" resultType="menu">
        select
          c.code,c.parentCode, c.level, c.title, c.url from  t_sys_user_role a, t_sys_role_menu b, t_sys_menu c
        where
          a.roleId = b.roleId and b.code = c.code and a.loginId = #{loginId}

        <if test=" parentCode == null">
            and c.parentCode is null
        </if>

        <if test=" parentCode != null and parentCode != ''">
            and c.parentCode = #{parentCode}
        </if>
    </select>
</mapper>