<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lube.user.dao.IUserDao">

    <resultMap type="operator" id="operatorMap">
        <id property="operatorId" column="OPERATOR_ID"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="operatorName" column="OPERATOR_NAME"/>
        <result property="operatorType" column="OPERATOR_TYPE"/>
    </resultMap>

    <!-- 查询学生，根据id -->
    <select id="verifyLogin" parameterType="String" resultType="operator" resultMap="operatorMap">
        <![CDATA[
            SELECT OPERATOR_ID, USERNAME, OPERATOR_NAME, OPERATOR_TYPE FROM T_OPERATOR WHERE USERNAME = #{username} AND PASSWORD = #{password}
        ]]>
    </select>
</mapper>